.curiosity-select{
  margin: 5px;
  width: 350px;
}

.spirit-select{
  margin: 5px;
  width: 350px;
}

@media (max-width: 800px) {
  .curiosity-select{
    margin: 5px;
    width: 250px;
  }
  
  .spirit-select{
    margin: 5px;
    width: 250px;
  }
}