.App {
  text-align: center;
}

body{
  background-color: lightgray;
}

#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 3rem; /* Footer height */
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3rem; /* Footer height */
}

.footer-content{
  padding-left: 15px;
  font-size: 13px;
  top: 0;
}

.footer-hr{
  margin-top: 0px;
  bottom: 0;
}